<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Home</title>
</head>
<body>
<a style="text-align: right;" href="/logout">Logout</a>
<a style="text-align: right;" href="/user/create">Add User</a>
<H1>User List</H1>
<br>
  <div> 
  <table>
  <thead>
  <tr>
  <th>Name</th>
  <th>Pass</th>
  <th>Created At</th>
  <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${userlist}" >
  <td th:text="${user.name}"></td>
  <td th:text="${user.password}"></td>
  <td th:text="${user.createdAt}"></td>
  <td><a th:text="edit" th:href="@{/user/edit}" th:object="${user}"}></a></td>
  </tr>
  </tbody>
  
  
  
  </table>
  </div>
</body>